img {
    display: none !important;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

header {
    text-align: center;
    margin: 20px 0;
    font-size: 1.5em;
    font-weight: bold;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

section {
    margin: 20px;
}

.grid-container {
    display: block;
    margin-top: 30px;
}

.grid-item {
    margin-bottom: 15px;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.grid-item h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 5px;
}

a {
    color: #646464;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    display: none;
}

aside {
    margin-top: 200px;
    font-size: 1.1em;
}

aside h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
}

aside p {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 250px;
    font-size: 1em;
    color: #555;
}

.stylesheet-links {
    display: none;
}

@page {
    size: A4;
    margin: 20mm;
}

@media print {
    body {
        margin: 0;
        padding: 0;
    }




}
